{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center alert alert-primary mt-4">Update Transaction</h4>
        <form action="" method="PUT">
            {% csrf_token %}
            <div class="form-floating mb-1 ">
              <input type="text" class="form-control" name="person_name" value='{{obj.person_name}}' id="floatingInput" placeholder="Your Name">
              <label for="floatingInput">Person Name</label>
            </div>
            <div class="form-floating mb-3 ">
                <input type="hidden" class="form-control" name="book_id" value='{{obj.book_id}}' id="floatingInput" placeholder="Book Name" >
              </div>
            <div class="form-floating mb-3 ">
                <input type="text" class="form-control" name="book" value='{{obj.book}}' id="floatingInput" placeholder="Book Name" >
                <label for="floatingInput">Book Name</label>
              </div>
            <div class="form-floating mb-3" hidden>
                <input type="date" class="form-control" name="issued_date" value='{{obj.issued_date}}' id="floatingInput" placeholder="issue date" readonly>
                <label for="floatingInput">Issued Date</label>
              </div>
              <div class="form-floating">
                <input type="date" class="form-control" name="return_date" value='{{obj.return_date}}' id="floatingInput" placeholder="return date">
                <label for="floatingPassword">Return Date</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="text" class="form-control" name="total_rent" value='{{obj.total_rent}}' id="floatingInput" placeholder="" readonly>
                <label for="floatingPassword">Total Amount</label>
              </div>
              <br>
              <button class="btn btn-success" type="submit">Update</button>
        </form>

    </div>
</div>
{% endblock %}